<div class="btn-group" aria-label="Sorting">
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="last_name"
          type="button" class="btn btn-dark">По фамилии</button>
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="number_of_games"
          type="button" class="btn btn-dark">По числу игр</button>
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="number_of_wins"
          type="button" class="btn btn-dark">По числу побед</button>
</div>
