<button type="button" class="btn btn-dark">
  Турниров сыграно <span class="badge badge-light">{{player.number_of_tournaments}}</span>
</button>

<button type="button" class="btn btn-dark">
  Игр сыграно <span class="badge badge-light">{{number_of_games}}</span>
</button>

<button type="button" class="btn btn-dark">
  Игр выиграно <span class="badge badge-light">{{number_of_wins}}</span>
</button>

<button type="button" class="btn btn-dark">
  Процент побед <span class="badge badge-light">{{winning_percentage}}</span>
</button>