<table class="table table-dark table-hover">
  <thead>
  <tr>
    <th scope="col">Название</th>
    <th>Город</th>
    <th colspan="2">Даты</th>
    <th>Игроки</th>
    <th>Игры</th>
  </tr>
  </thead>
  <tbody>
    {% for tournament in tournaments %}
    <tr>
      <td><a href="{{request.path}}/{{tournament.id}}" class="unstyled_link">{{tournament.name}}</a></td>
      <td>{{tournament.location}}</td>
      <td>{{tournament.start_date}}</td>
      <td>{{tournament.finish_date}}</td>
      <td>{{tournament.number_of_players}}</td>
      <td>{{tournament.number_of_games}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>