<div class="btn-group" aria-label="Sorting">
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="name"
          type="button" class="btn btn-dark">По названию</button>
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="location"
          type="button" class="btn btn-dark">По городу</button>
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="finish_date"
          type="button" class="btn btn-dark">По дате</button>
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="number_of_players"
          type="button" class="btn btn-dark">По числу игроков</button>
  <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="number_of_games"
          type="button" class="btn btn-dark">По числу игр</button>
</div>