.pagination-dark{
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.page-item page-item-dark active{
    background-color: var(--bs-dark);
}

.page-item.active .page-link{
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.page-link{
    color: var(--bs-dark);
}

.unstyled_link, .unstyled_link:link, .unstyled_link:hover{
    color: inherit;
    text-decoration: inherit;
    display: block;
    cursor: pointer;
}

.opponents_list{
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.tournament_counter, .tournament_list{
    margin-bottom: 5rem;
}