.pagination-dark{
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.page-item active{
    background-color: var(--bs-dark);
}

.unstyled_link, .unstyled_link:link, .unstyled_link:hover{
    color: inherit;
    text-decoration: inherit;
    display: block;
    cursor: pointer;
}
