{% extends 'base.html' %}

{% block content %}

{% include 'include/breadcrumb.html' %}

<div class="card text-white bg-dark">
<!--  <img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <h5 class="card-title">{{player.first_name}} {{player.last_name}}</h5>
    {% if player.federation %}
    <h6 class="card-subtitle mb-2 text-muted">{{player.federation}}</h6>
      {% endif %}
<!--
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
</p>-->
  </div>
    {% if tournaments %}
  <ul class="list-group list-group-flush">
      {% for tournament in tournaments %}
    <li class="list-group-item">
      <a href="{% url 'TournamentCard' tournament.id %}" class="unstyled_link">
        {{tournament.name}}, {{tournament.start_date}} - {{tournament.finish_date}}, {{tournament.location}}
      </a>
    </li>
      {% endfor %}
  </ul>
    {% else %}
  <p class="card-text">В базе нет турниров, сыгранных этим игроком.</p>
    {% endif %}
  <div class="card-body">
<!--    <a href="#" class="card-link"></a>-->
  </div>
</div>
{% include 'include/player_pagination.html' %}
{% include 'include/player_card_counter_set.html' %}
{% include 'include/player_card_opponent_list.html' %}
{% endblock %}
