{% extends 'base.html' %}

{% block content %}

{% include 'include/breadcrumb.html' %}

<h1>{{ object.title }}</h1>

{% for obj in paginated_object_list %}
    <div>
        <p><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></p>
    </div>
{% empty %}
    <div>Записей пока нет.</div>
{% endfor %}

{% for tournament in tournaments %}
    <p class="tournament">{{tournament.name}}, {{tournament.location}}, {{tournament.start_date}},
    {{tournament.finish_date}}</p>
{% endfor %}

{% include 'include/pagination.html' %}

{% endblock %}
